form.page_centered {
	width: 300px;
	margin: 5% auto 0;
}

div.page_centered {
	width: 600px;
	margin: 5% auto 0;
}

ul.dropdown-menu li.divider:first-child {
	display: none;
}

.panel-heading {
  position: relative;
}

.tabs {
  position: absolute;
  bottom: -1px;
  right: 300px;
  margin: 0 !important;
}

.tabs > li {
  margin-bottom: 0 !important;
}

.tabs > li.active > a, .tabs > li > a:hover {
  background-color: #fff !important;
}

.tabs > li > a, .tabs > li.disabled > a, .tabs > li.disabled > a:hover {
  color: inherit !important;
  background-color: #eff2f7 !important;
  border: 1px solid #eff2f7 !important;
  border-radius: 4px 4px 0 0 !important;
  margin-left: 4px;
  margin-right: 0 !important;
  border-bottom: 0 !important;
}

.tags {
  position: relative;
  height: 40px;
  margin-bottom: 30px;
}

.tags > div {
  position: absolute;
  top: 0;
  height: 100%;
}

.tags > div > div.t_s, .tags > div > div.t_e {
  position: absolute;
  display: none;
  width: 100px;
  text-align: center;
}

.tags > div > div.t_s span, .tags > div > div.t_e span {
  display: none;
}

.tags > div > div.t_s {
  bottom: 100%;
  left: 0;
  margin-left: -50px;
  margin-bottom: 5px;
}

.tags > div > div.t_s:before {
  position: absolute;
  content: ' ';
  background-color: #000;
  height: 45px;
  width: 1px;
  left: 50%;
  bottom: -45px;
}

.tags > div > div.t_e {
  top: 100%;
  right: 0;
  margin-right: -50px;
  margin-top: 5px;
}

.tags > div > div.t_e:before {
  position: absolute;
  content: ' ';
  background-color: #000;
  height: 45px;
  width: 1px;
  left: 50%;
  top: -45px;
}

.tags > div.active {
  z-index: 99;
}

.tags > div.selected {
  z-index: 98;
}

.tags > div.selected {
  border-top: 2px dashed #fff;
  border-bottom: 2px dashed #fff;
}

.tags > div.active > div.t_s, .tags > div.active > div.t_e,
.tags > div.selected > div.t_s, .tags > div.selected > div.t_e {
  display: block;
}

.tags > div.hover > div.t_s span, .tags > div.hover > div.t_e span {
  display: block;
}

.legend {
  margin-top: 5px;
  margin-left: 0;
}

.legend li {
  position: relative;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  min-width: 35px;
  border-radius: 4px;
  text-align: center;
  padding: 0 5px;
  margin: 0 5px 0 0;
}

.legend li.is-hidden {
  text-decoration: line-through;
  opacity: .5;
}

.visualisation > div.row {
  margin-bottom: 20px;
}

.video-marker {
  position: absolute;
  width: 3px;
  height: 100%;
  left: 0;
  background-color: #ff0000;
  z-index: 100;
}

.dash-item {
  text-align: center;
}

.dash-item i {
  display: block;
  margin-bottom: 10px;
}

.dash-item a {
  color: inherit;
  text-decoration: none;
}

.chart {
  height: 250px;
}

.btn-zoom-out {
  position: absolute;
  top: 20px;
  left: 95px;
  display: none;
}

.video-time {
  display: block;
  min-width: 55px;
}

.chart-container {
  margin-bottom: 25px;
}

.chart-container .controls .series {
  min-width: 125px;
  margin: 0 5px;
}

.chart-container .controls .ma {
  min-width: 165px;
  margin: 0 5px;
}

.chart-container > label {
  display: block;
  text-align: center;
}

.chart-container .controls .select2-container {
  text-align: left;
}

.filters {
  background-color: #fafafa;
}

.filters .panel-heading {
  text-align: center;
}

.filters select {
  margin-bottom: 5px;
}

.pieLabel div {
  font-size: 12px !important;
}

.axis-selected {
  opacity: 0.10 !important;
}
.jPicker .Grid{
  background-image:none!important;
}