// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@import "videojs/dist/video-js/video-js";

#progress {
  margin: 5px 0 0 20%;
  box-sizing: border-box;
  border: 1px solid silver;
  border-radius: 5px;
  .bar {
    height: 18px;
    background: #00cc00;
    width: 0%;
    text-align: center;
  }
}

.panel.inner{
  margin-bottom: 2px;
  .panel_contents{
    padding-bottom: 2px;
  }
}

// Videos

body.videos.show, body.tag_series.show {
  .video-js {
    margin: 0 auto;
  }
  .update-tags {
    margin: 10px auto;
    text-align: center;
    button {
      font-size: 1.2em;
      cursor: pointer;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: -32px;
        width: 28px;
        height: 28px;
        background: url('/assets/check-green.png') no-repeat;
        display: none;
      }
      &:after {
        content: '';
        position: absolute;
        right: -26px;
        top: 5px;
        height: 16px;
        width: 16px;
        background: url('/assets/throbber.gif') no-repeat;
        display: none;
      }
      &.processing:after {
        display: block;
      }
      &.done:before {
        display: block;
      }
    }
  }
  .datafile-actions{
    text-align: right;
    margin-top: 20px;
  }
}

.vjs-control-bar {
  .tag-button {
    cursor: pointer;
    &:after {
      width: 100%;
      height: 100%;
      content: 'Tag';
      line-height: 3em;
    }
    &.end:after {
      content: 'End';
    }
    &:hover {
      font-weight: bold;
    }
  }
  button {
    border-radius: 0;
  }
}

.ui-dialog-titlebar button {
  float: right;
  border-radius: 2px;
  cursor: pointer;
  padding: 1px 6px;
  margin: 0;
}

.chart {
  position: relative;
  overflow: hidden;
  &:before {
    content: 'Loading chart (start the video if this takes too long)...';
    position: absolute;
    width: 100%;
    text-align: center;
    color: #999;
  }
}

#tag-chart {
  height: 500px;
}

#dialog {
  display: none;
  padding-bottom: 40px;
  form {
    label {
      display: inline-block;
      width: 50px;
    }
    select {
      margin-left: -5px;
    }
    .field.tag {
      white-space: nowrap;
    }
    .field.duration {
      input {
        border: 0;
        background: transparent;
      }
    }
  }
  .actions {
    position: absolute;
    bottom: 0;
    right: 0;
    button {
      cursor: pointer;
      text-shadow: none;
      color: #eaeaea;
    }
    .delete {
      background: linear-gradient(180deg, #900, #600);
    }
  }
}

.tracking-line {
  width: 2px;
  background: black;
  height: 100%;
  opacity: 0.5;
}

// Hide ActiveAdmin notice
#footer p {
  display: none;
}

.button.small {
  line-height: 1em;
  padding: 2px 16px 3px;
}

#project_tester_id {
  margin-right: 10px;
  min-width: 200px;
}

ul.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item {
    > a {
      display: block;
      padding: 3px 15px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: #555555;
      white-space: nowrap;
      text-decoration: none;

      &.ui-state-hover, &.ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
      }
    }
    &.ui-state-focus{
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
      a {
        color: #ffffff;
      }
    }
  }
}

.ui-helper-hidden-accessible { display:none; }

.pull-right { float: right; }
.pull-left { float: left; }

a.status_tag {
  color: #ffffff;
  text-decoration: none;
}

.hidden {display: none;}