// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@import "videojs/dist/video-js/video-js";

#progress {
  margin: 5px 0 0 20%;
  box-sizing: border-box;
  border: 1px solid silver;
  border-radius: 5px;
  .bar {
    height: 18px;
    background: #00cc00;
    width: 0%;
    text-align: center;
  }
}

// Videos

body.videos.show {
  .video-js {
    margin: 0 auto;
  }
  .update-tags {
    margin: 10px auto;
    text-align: center;
    button {
      font-size: 1.2em;
      cursor: pointer;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: -32px;
        width: 28px;
        height: 28px;
        background: url('/assets/check-green.png') no-repeat;
        display: none;
      }
      &:after {
        content: '';
        position: absolute;
        right: -26px;
        top: 5px;
        height: 16px;
        width: 16px;
        background: url('/assets/throbber.gif') no-repeat;
        display: none;
      }
      &.processing:after {
        display: block;
      }
      &.done:before {
        display: block;
      }
    }
  }
}

.vjs-control-bar {
  .tag-button {
    cursor: pointer;
    &:after {
      width: 100%;
      height: 100%;
      content: 'Tag';
      line-height: 3em;
    }
    &.end:after {
      content: 'End';
    }
    &:hover {
      font-weight: bold;
    }
  }
  button {
    border-radius: 0;
  }
}

.ui-dialog-titlebar button {
  float: right;
  border-radius: 2px;
  cursor: pointer;
  padding: 1px 6px;
  margin: 0;
}

.chart {
  position: relative;
  overflow: hidden;
  &:before {
    content: 'Loading chart...';
    position: absolute;
    width: 100%;
    text-align: center;
    color: #999;
  }
}

#tag-chart {
  height: 500px;
}

#dialog {
  display: none;
  padding-bottom: 40px;
  form {
    label {
      display: inline-block;
      width: 50px;
    }
    select {
      margin-left: -5px;
    }
    .field.tag {
      white-space: nowrap;
    }
    .field.duration {
      input {
        border: 0;
        background: transparent;
      }
    }
  }
  .actions {
    position: absolute;
    bottom: 0;
    right: 0;
    button {
      cursor: pointer;
      text-shadow: none;
      color: #eaeaea;
    }
    .delete {
      background: linear-gradient(180deg, #900, #600);
    }
  }
}

.tracking-line {
  width: 2px;
  background: black;
  height: 100%;
  opacity: 0.5;
}

// Hide ActiveAdmin notice
#footer p {
  display: none;
}

.button.small {
  line-height: 1em;
  padding: 2px 16px 3px;
}

#project_tester_id {
  margin-right: 10px;
  min-width: 200px;
}
